@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* , *::after, *::before {
    box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'ubuntu';
}

h1{
    margin:0;
}
.container{
    width:90%;
    margin:auto;
}

.container__header{
    min-width: 100vh;
    text-align: center;
    background-color: black;
    margin:0;
    padding:2em;
}

.textColor--white{
    color:white
}

.container__links ul li{
    margin:1em 0;
}



